dspy-ai
python-dotenv
sentence-transformers
bertopic
umap-learn
hdbscan
scikit-learn
tqdm
rich
requests
openai
json-repair==0.*
litellm
langgraph
numpy
scipy
matplotlib
seaborn
pandas
botocore
boto3
gdown
submitit
jupyterlab
ipykernel
ipywidgets
jupyterlab-widgets
